<%= form_for([:admin, @player]) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
      <%= f.label :nation %>
      <%= f.collection_select(:nation_id, Nation.all, :id, :name) %>
    </p>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth %>
    </p>
    <p>
      <%= f.label :height %>
      <%= f.text_field :height %>
    </p>
    <p>
      <%= f.label :weight %>
      <%= f.text_field :weight %>
    </p>
    <p>
      <%= f.label :position %>
      <%= f.collection_select(:position_id, Position.all, :id, :name) %>
    </p>
    <p>
      <%= f.label :back_number %>
      <%= f.text_field :back_number %>
    </p> 
    <%= f.submit %>
  </div>
<% end %>
