<p id="notice"><%= notice %></p>
<p><%= @player.name %></p>
<p><%= @player.nation.name %></p>
<p><%= @player.date_of_birth %></p>
<p><%= @player.height %></p>
<p><%= @player.weight %></p>
<p><span class="<%= position(@player.position_id) %>"><%= @player.position.pos %></span></p>
<p><%= @player.back_number %></p>
<%= link_to 'Edit', edit_admin_player_path(@player) %> |
<%= link_to 'Back', admin_players_path %>
