<%= form_for([:admin,@match]) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
      <%= f.label :date %>
      <%= f.date_field :date %>
    </p>
    <p>
      <%= f.label :home %>
      <%= f.collection_select(:home, Nation.all, :id, :name) %>
      VS
       <%= f.label :away %>
      <%= f.collection_select(:away, Nation.all, :id, :name) %>
    </p>
    <p>
      <%= f.label :score_home %>
      <%= f.text_field :score_home %>
    </p>
    <p>
      <%= f.label :score_away %>
      <%= f.text_field :score_away %>
    </p>
    <p>
     
    </p>
    <%= f.submit %>
  </div>
<% end %>
