<h1>Listing matches</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.date %></td>
        <td><%= "#{match.home_team.name} VS #{match.away_team.name}" %></td>
        <td><%= "#{match.score_home}:#{match.score_away}" %></td>
        <td><%= link_to 'Show', admin_match_path(match) %></td>
        <td><%= link_to 'Edit', edit_admin_match_path(match) %></td>
        <td><%= link_to 'Edit Score', "matches/#{match.id}/edit_score",method: :get, :remote => true %></td>
        <td><%= link_to 'Destroy', admin_match_path(match), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="score">
</div>
<br>

<%= link_to 'New Match', new_admin_match_path %>
