<p id="notice"><%= notice %></p>
<p>Nation : <%= @nation.name %></p>
<p>Coach : <%= @nation.coach.name %></p>
<p>Group : <%= @nation.group.name %></p>
<p><%= @nation.profile %></p>
<%= link_to 'Edit', edit_nation_path(@nation) %> |
<%= link_to 'Back', nations_path %>
