<%= form_for([:admin, @referee]) do |f| %>
  <% if @referee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@referee.errors.count, "error") %> prohibited this referee from being saved:</h2>

      <ul>
      <% @referee.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :nation %>
      <%= f.text_field :nation %>
    </p>
    <%= f.submit "Save" %>
  </div>
<% end %>
