<h1>Listing referees</h1>

<button class="btn">
<%= link_to 'New Referee', new_admin_referee_path %>
</button>
<br>

<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Name</th>
      <th>Nation</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <%= paginate @referees %>
    <% @referees.each do |referee| %>
      <tr>
      <td><%= referee.id %></td>
      <td><%= referee.name %></td>
      <td><%= referee.nation %> </td>
        <td>
          <%= link_to 'Show', admin_referee_path(referee) %> |
          <%= link_to 'Edit', edit_admin_referee_path(referee) %> |
          <%= link_to 'Destroy', admin_referee_path(referee), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


