<%= form_for(@nation) do |f| %>
  <% if @nation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nation.errors.count, "error") %> prohibited this nation from being saved:</h2>

      <ul>
      <% @nation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :profile %>
      <%= f.text_area :profile, size: "60x12" %>
    </p>
    <%= f.submit %>
  </div>
<% end %>
