<h1>Listing players</h1>
<%= link_to 'New Player', new_player_path %>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nation</th>
      <th>Name</th>
      <th>Date Of Birth</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Position</th>
      <th>Back Number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.id %></td>
        <td><%= player.nation.name %></td>
        <td><%= player.name %></td>
        <td><%= player.date_of_birth %></td>
        <td><%= player.height %></td>
        <td><%= player.weight %></td>
        <td><span class="<%= position(player.position_id) %>"><%= player.position.pos %></span></td>
        <td><%= player.back_number %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

