<%= form_for([:admin, @coach]) do |f| %>
  <% if @coach.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coach.errors.count, "error") %> prohibited this coach from being saved:</h2>

      <ul>
      <% @coach.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions"> 
    <p>
      <%= f.label :nation %>
      <%= f.collection_select(:nation_id, Nation.all, :id, :name) %>
    </p>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :date_of_birth %>
      <%= f.text_field :date_of_birth %>
    </p>
    <p>
      <%= f.label :country %>
      <%= f.text_field :country %>
    </p>
    <p>
      <%= f.label :height %>
      <%= f.text_field :height %>
    </p>
    <p>
      <%= f.label :weight %>
      <%= f.text_field :weight %>
    </p>
    <p>
      <%= f.label :achievement %>
      <%= f.text_area :achievement %>
    </p>
    <%= f.submit "Save"%>
  </div>
<% end %>
