<h1>Listing coaches</h1>

<button class="btn">
<%= link_to 'New Coach', new_admin_coach_path %>
</button>
<br>

<table class="table">
  <thead>
    <tr>
      <th>No</th>
      <th>Nation</th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Country</th>
      <th>Height</th>
      <th>Weight</th>
      <th>Achievement</th>
      <th>Action</th>

    </tr>
  </thead>

  <tbody>
    <%= paginate @coaches %>
    <% @coaches.each do |coach| %>
      <tr>
        <td><%= coach.id %></td>

          <% if coach.nation %>
            <td><%= coach.nation.name %></td>
          <% else %>
            <td>No Nation</td>
          <% end %>

        <td><%= coach.name %></td>
        <td><%= coach.date_of_birth %></td>
        <td><%= coach.country %></td>
        <td><%= coach.height %></td>
        <td><%= coach.weight %></td>
        <td><%= coach.achievement %></td>
        <td>
          <%= link_to 'Show', admin_coach_path(coach) %> |
          <%= link_to 'Edit', edit_admin_coach_path(coach) %> |
          <%= link_to 'Destroy', admin_coach_path(coach), method: :delete, data: { confirm: 'Are you sure?' } %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


