<p id="notice"><%= notice %></p>
<h2>Group <%= @group.name %></h2>
<table class="table table-striped">
  <thead>
    <th>Name</th>
    <th>Win</th>
    <th>Draw</th>
    <th>Lose</th>
    <th>Points</th>
  </thead>
  <tbody>
  <% @group.standings.each do |standing| %>
  <tr>
    <td><%= standing.nation.name %></td>
    <td><%= standing.home_win_count + standing.away_win_count %></td>
    <td><%= standing.draw_match_count %></td>
    <td><%= standing.home_lose_count + standing.away_lose_count %></td>
    <td><%= standing.point %></td>
  </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'Edit', edit_admin_group_path(@group) %> |
<%= link_to 'Back', admin_groups_path %>
