<!DOCTYPE html>
<html>
<head>    
  <!-- Define Charset -->
  <meta charset="utf-8">
  
  <!-- Page Title -->
  <title>Gym Club</title>
  
  <!-- Responsive Metatag -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
     
  <!-- CSS -->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>        
  <![endif]-->

  <!-- Media queries -->
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->
</head>
<body>
  <!-- Header -->
  <header>
    <!-- Main Menu -->
    <div class="main-menu" >
      <div class="main-menu-line" >
        <div class="container">
          <div class="row">
            <nav class="navbar" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <!-- <h1 class="logo">
                  <a class="navbar-brand" href="index.html"><img src="img/logo.png" alt="Logo" /></a>
                </h1>  --> 
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><%= link_to 'Sign In', new_user_session_path %></li>

                  <li><a href="#">Nations</a></li>
                  <li class="dropdown">
                    <a href="trainers.html" class="dropdown-toggle">Trainers</a>
                    <ul>
                      <li><a href="trainers.html">All Trainers</a></li>
                      <li><a href="single-trainer.html">Single Trainers</a></li>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- End Main Menu -->
  </header>   
  <!-- End header -->

  <!-- Content -->
  <section id="home" >
     
    <!-- begin Intro -->
    <article class="article-container" id="intro">
      <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h2><strong>Go from where you are to where you want to be</strong></h2>
          <p>If you put yourself in a position where you have to stretch outside your comfort zone, then you are forced to expand your consciousness.</p>
          <button class="button-gym big-button">see our classes</button>
        </div>
      </div>
      <%= yield %>

      </div>
    </article>
    <!-- end Intro -->

   

   
    
   
    
  </section>
  <!-- end content -->

  

</body>
</html>